@{
    ViewBag.Title = "Suboku";
}

@*Проект доступен по адресу http://sudoku2.azurewebsites.net/*@

<div class="row">
    <h1 class="text-center">Многопользовательский судоку</h1>
    <h1 class="text-center">с конкурентной борьбой</h1>
    <br />
    <div class="col-md-1">
        &nbsp;
    </div>
    <div class="col-md-7">
        <div id="tableDiv"></div>
    </div>
    <div class="col-md-2">
        <div class="row">
            <input id="userName" disabled="disabled" />
        </div>
        <div class="row">
            <button id="btnChangeName">Изменить имя</button>
        </div>
        <div class="row">
            <button id="btnNewGame">Новая игра</button>
        </div>
        <div class="row">
            <button id="btnHint">Подсказка</button>
        </div>
        <div class="row">
            <button id="btnGetResults">Результаты</button>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-md-4 left-button"><button class="number">1</button></div>
                <div class="col-md-4 middle-button"><button class="number">2</button></div>
                <div class="col-md-4 right-button"><button class="number">3</button></div>
            </div>
            <div class="row">
                <div class="col-md-4 left-button"><button class="number">4</button></div>
                <div class="col-md-4 middle-button"><button class="number">5</button></div>
                <div class="col-md-4 right-button"><button class="number">6</button></div>
            </div>
            <div class="row">
                <div class="col-md-4 left-button"><button class="number">7</button></div>
                <div class="col-md-4 middle-button"><button class="number">8</button></div>
                <div class="col-md-4 right-button"><button class="number">9</button></div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>

<br /><br />
      <div class="container">
          <h1>Техническое задание</h1>
          <p>Написать Игру судоку с конкурентной борьбой.</p>
          <h3>Должен быть реализован бэкэнд с WebSockets с методами: </h3>
          <ul>
              <li>начало новой игры</li>
              <li>добавить результат</li>
              <li>топ игроков (хранить результаты можно в кэше сервера)</li>
          </ul>
          <h3>Должен быть простой фронт с:</h3>
          <ul>
              <li>полями под игру</li>
              <li>полем для имени</li>
              <li>кнопками начать</li>
              <li>и просмотр топ</li>
          </ul>
          <h3>Логика:</h3>
          <ul>
              <li>Несколько вкладок играют в конкурентное судоку, то есть одна текущая игра на всех.</li>
              <li>Каждый имеет право поставить в свободную ячейку.</li>
              <li>Кто первый поставит последнюю цифру и судоку посчитается правильно, тот и победил.</li>
              <li>Любая цифра, поставленная на поле, должна отобразиться у других без возможности изменения.</li>
          </ul>
          <p>Красивый фронт не нужен, так как это дело вкуса. Требуется знание С# и логика работы с ним.</p>
          <br />
          <p>Исполнитель: Тарасов Андрей ktn-at@mail.ru</p>
          <p>Исходный код:<span><a target="_blank" href="https://github.com/i-MaxProfit/Sudoku2.git">https://github.com/i-MaxProfit/Sudoku2.git</a></span></p>
      </div>

<link href="~/Content/site.css?v3" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/main.js?v19"></script>

